.contactUs_banner {
    width: 100%;
    height: 100vh;
    background-image: url('/images/banner/image_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contactUs_banner {
    width: 100%;
}

.contactUs_banner{
    width: 100%;
}

@media screen and (min-width: 360px) and (max-width: 549px) {
    .contactUs_banner {
        width: 100%;
        height: 225px;
    }
}