.box_service {
    height: auto;
    width: 100%;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 80px;
}

.service_content {
    width: 100%;
}

.service_banner {
    height: 867px;
    background-image: url('../../../../public/images/ourService/Group\ 7.png');
    background-size: cover;
    background-position-x: center;
    z-index: 10;
}

.our_service {
    /* margin-top: -225px; */
}

.inline_1 {
    width: 135.0000000000005px;
    border-bottom: 2px solid #ffffff;
    float: right;
    margin-right: 4px;
    margin-top: 5px;
}

.item_content_title {

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #667085;



}

.title_service {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    width: 275px;
    margin: auto;
    margin-top: 45px;
    color: #25AAE1;
}

.service_item {
    width: 65%;
    margin: auto;
}

.item {
    width: 100%;
    padding: 19.73684310913086px;
    border-radius: 5px;
    gap: 19.73684310913086px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 20px;
    display: flex;
}

.item_content {
    width: 80%;
    height: 224px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    background-color: #E8F4FF;
    padding-top: 27%;
}

.item_content p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #484848;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.link_service p {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    cursor: pointer;
}

.link_service a {
    text-decoration: none;
}

.link_service {
    gap: 16px;
    margin-top: 20px;
    display: flex;
    width: 20%;
}

.link_service p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    white-space: nowrap;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.service_item .item_c {
    width: 100%;
}

.list_dot {
    display: flex;
    width: 165px;
    margin: auto;
}

.dot_item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(200, 226, 255, 1);
    margin-right: 15px;
    cursor: pointer;
}

.active {
    width: 99px;
    border-radius: 500px;
    background: rgba(37, 170, 225, 1);
}

.link_service img {
    height: 204px;
}

@media screen and (max-width: 1049px) {
    .service_item {
        width: 100%;
        padding: 0px 70px 0px 70px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1499px) {

    .service_item {
        width: 100%;
    }

}

@media screen and (min-width: 1050px) and (max-width: 1350px) {
    .our_service {
        width: 92%;
        margin: auto;
        margin-top: -225px;
    }

    .service_item {
        width: 100%;
    }

    .title_service {
        font-family: 'Inter';
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
        width: 24%;
        margin: auto;
        margin-bottom: 45px;
        color: #ffffff;
    }

    .item_content {
        width: 100%;
        height: 224px;
        padding: 10px;
        border-radius: 5px;
        gap: 10px;
        background-color: #E8F4FF;
        padding-top: 14%;
    }

    .item {
        width: 100%;
        height: 318px;
        padding: 19.73684310913086px;
        border-radius: 5px;
        gap: 19.73684310913086px;
        background-color: #ffffff;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin-bottom: 20px;
    }

    .link_service p {
        font-size: 16px;
    }

    .link_service img {
        margin-left: -15px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1049px) {
    .service_banner {
        height: 600px;
    }

    .service_item {
        width: 100%;
        /* padding: 0px 70px 0px 70px; */
    }

    .service_item .item_c {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .item_content {
        width: 100%;
        padding-top: 12%;
    }

    .link_service p {
        font-size: 13px;
    }
}

@media screen and (min-width: 1350px) {
    .box_service {
        height: auto;
    }

    .our_service {
        /* top: 65%;
        left: 0%; */
        z-index: 11;
        /* margin-top: -256px; */
    }

    .service_item {
        width: 65%;
        /* padding: 0px 70px 0px 70px; */
    }

    .service_item .item_c {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .item_content {
        width: 100%;
        padding-top: 7%;
    }
}

@media screen and (min-width: 360px) and (max-width: 765px) {
    .link_service p {
        /* flex-direction: column; */
        width: auto;
    }

    .service_item {
        width: 90%;
        padding: 0px 0px 0px 0px;
    }

    .service_item .item_c {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .item_content {
        width: 60%;
        padding-top: 5%;
    }

    .link_service {
        width: 40%;
    }

    .service_banner {
        height: 545px;
    }
}